html{
  scroll-behavior: smooth;
}


*{
  margin: 0;
  padding: 0;
}

header{
  display: inline;
}

body{
  font-family: "Lato", sans-serif;
}

/* skip to content */
.skip-link {
  position: absolute;
  top: -90px;
  left: 0;
  padding: 8px;
  text-decoration: none;
  background-color: #173ebf;
  color: white;
  z-index: 99999;
}

.skip-link:focus {
   top: 0;
}
/* skip to content end */


/* navbar */

nav{
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  background-color: #0d0d0d;
}

.logo img{
  max-width: 15%;
  max-height: 15%;
  margin-left: 15px;
}

.icon-hamburger i{
  font-size: 20px;
  /* margin-right: 20px; */
}

.icon-hamburger button{
  border: none;
  background-color: transparent;
  width: 44px;
  height: 44px;
}

#container-item-nav{
  position: absolute;
  width: 100%;
  height: 40vh;
  background-color: #0d0d0d;
  z-index: 9999;
  transform: translate(-370px,0);
  transition: transform 0.3s ease-in-out;
}

#container-item-nav.open{
  transform: translate(0,0);
}

#container-item-nav ul{
  margin-top: 10px;
  text-align: center;
}

#container-item-nav li{
  margin-bottom: 10px;
  list-style-type: none;
}

#container-item-nav a{
  display: inline-block;
  width: 80px;
  height: 44px;
  color: white;
  text-decoration: none;
}

#nav-desktop{
  display: none;
}
/* navbar end */



/* jumbotron */
.jumbotron img{
  width: 100%;
  height: auto;
}

.teks-jumbotron{
  color: white;
  position: absolute;
  top: 17%;
  text-align: center;
}

.teks-jumbotron h1{
  margin-bottom: 30px;
}

.teks-jumbotron button{
  width: 100px;
  height: 44px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 10px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* jumbotron end */


/* menu restoran */
.title-menu-restoran{
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

#container-menu{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.card-menu{
  margin: 20px;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.card-menu img{
  max-width: 100%;
  max-height: auto;
  margin-bottom: 10px;
}

.container-desc-menu{
  margin: 20px;
}

.data-city{
  font-size: 15px;
  margin-bottom: 5px;
}

.data-name{
  margin-bottom: 10px;
}
/* menu restoran end */


/* about us */
article{
  background-color: #0d0d0d;
}

.container-about-us{
  margin: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-about-us h1{
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.container-about-us p{
  color: white;
  text-align: center;
}
/* about us end */


/* footer */
.container-footer{
  background-color: #272727;
  padding: 30px;
}

.container-footer p{
  color: white;
  font-size: 12px;
  text-align: center;
}
/* footer end */


/* 375 */
@media screen and (min-width: 375px){
  #container-item-nav{
    transform: translate(-390px,0);
    transition: transform 0.3s ease-in-out;
  }

  #nav-desktop{
    display: none;
  }
}
/* 375 end */

/* 425 */
@media screen and (min-width: 425px){
  #container-item-nav{
    transform: translate(-500px,0);
    transition: transform 0.3s ease-in-out;
  }

  .teks-jumbotron h1{
    margin-top: 20px;
    font-size: 30px;
  }

  .title-menu-restoran{
    font-size: 30px;
  }

  .container-footer p{
    font-size: 15px;
  }

  #nav-desktop{
    display: none;
  }
}
/* 425 end */

/* 768 */
@media screen and (min-width: 768px){
  #container-item-nav{
    transform: translate(-800px,0);
    transition: transform 0.3s ease-in-out;
  }

  .teks-jumbotron h1{
    margin-top: 85px;
    font-size: 50px;
    margin-bottom: 50px;
  }

  .teks-jumbotron button{
    display: inline-block;
    width: 200px;
    height: 44px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }

  #container-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #nav-desktop{
    display: none;
  }
}
/* 768 end */

@media screen and (min-width: 1024px){
  #container-item-nav{
    display: none;
  }

  .logo img{
    max-width: 17%;
    max-height: auto;
  }

  .icon-hamburger{
    display: none;
  }

  #nav-desktop{
    display: inline;
  }

  #nav-desktop ul{
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  #nav-desktop li{
    margin-right: 50px;
    margin-top: 10px;
  }

  #nav-desktop a{
    display: inline-block;
    height: 44px;
    width: 80px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    /* margin-right: 20px; */
    /* margin-top: 10px; */
  }

  .teks-jumbotron{
    left: 6%;
    top: 20%;
  }

  .teks-jumbotron h1{
    font-size: 70px;
  }

  .teks-jumbotron button{
    height: 44px;
    width: 400px;
  }

  #container-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
  }

  .container-about-us{
    margin: 50px;
  }

  .container-about-us h1{
    margin-top: -20px;
  }
}