<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <title>Restaurant Apps</title>
</head>

<body>
  <!-- <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros
      sebagai background hero elemen.
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->



    <a href="#maincontent" class="skip-link" tabindex="1">Menuju ke konten</a>

  <header>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <img src="./images/heros/logo.png" alt="Logo Website">
        </div>

        <div class="icon-hamburger">
          <button aria-label="Button Hamburger Menu Navbar" id="hamburger"><i class="fa-solid fa-bars" style="color: white;"></i></button>
        </div>

        <div id="nav-desktop">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/AkbarFauzanWarahidayat">About Us</a></li>
          </ul>
        </div>
      </div>

      <div id="container-item-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/AkbarFauzanWarahidayat">About Us</a></li>
        </ul>
      </div>
    </nav>
  </header>


  <main id="maincontent">
    <section class="container-jumbotron">
      <div class="jumbotron">
        <img src="./images/heros/hero-image_3.jpg" alt="" />
      </div>
    
      <div class="teks-jumbotron">
        <h1 tabindex="0">Selamat Datang Di Katalog Restaurant</h1>
        <button aria-label="Button Selengkapnya" tabindex="0">Selengkapnya</button>
      </div>
    </section>


    <section>
      <h1 class="title-menu-restoran" tabindex="0">Explore Restaurant</h1>

      <div id="container-menu">

        <!-- <div class="card-menu">
            <img src="" alt="image">
            <p>rating:</p>
            <p>nama makanan</p>
            <p>asal kota</p>
            <p>deskripsi</p>
          </div> -->

      </div>
    </section>

    <section>
      <article>
        <div class="container-about-us" id="about-us" tabindex="0">
          <h1 tabindex="0">About Us</h1>
          <p tabindex="0">Selamat datang di halaman "Tentang Kami" kami, di mana kami dengan bangga memperkenalkan diri sebagai
            penyedia katalog restoran yang bersemangat. Kami adalah rumah bagi beragam restoran, dari warung lokal yang
            penuh warna hingga restoran mewah yang elegan, kami menyajikan tempat-tempat di mana cita rasa dan
            pengalaman bertemu.

            Visi kami adalah menghadirkan pengalaman gastronomi yang tak terlupakan bagi setiap pengunjung kami. Kami
            percaya bahwa makanan bukan hanya sekadar kebutuhan, tetapi juga seni yang menghubungkan budaya, cerita, dan
            emosi. Dalam setiap halaman katalog kami, Anda akan menemukan lebih dari sekadar daftar hidangan; Anda akan
            menemukan kisah-kisah yang menarik dari dapur-dapur yang berdedikasi.</p>
        </div>
      </article>
    </section>

  </main>

  <footer>
    <div class="container-footer" tabindex="0">
      <p tabindex="0">Copyright © 2020 - Katalog Restaurants Apps</p>
    </div>
  </footer>
</body>

</html>